body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
  height: 100vh;
}

.text-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.quote{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.author{
  font-family: 'Roboto', sans-serif;
  color: white;
}

@media (max-width: 550px){
  .quote{
    width: 80%;
  }
}
